.envrc
.tm_properties
.python-version
__pycache__/*
*.pyc
.idea
*.sqlite3
media/*
assets/*
.DS_Store
*.css.map
/local.env
/mc_new_module_list_boilerplate.json
venv
.mypy_cache/
.sass-cache/
.vscode/
*.swp
*.env
*/node_modules
.cache
jupyter
node_modules
docker-compose.override.yml
*.ipynb
celerybeat-schedule.db
